<ul class="notificator">
  <%= link_to notifications_index_path, id: "open_notification" do %>
    <%= render 'notifications/counter', counter: notifications.count %>
  <% end %>
  <div id="notificationContainer">
    <div id="notificationTitle">Notifications</div>
    <div id="notificationsBody" class="notifications">
      <ul id="notificationList">
        <%= render @notifications %>
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>
