<li>
  <%= link_to destination_review_path(notification.destination_id,notification.review_id) do %>
    <%= notification.event %>

    <span> <%= notification.created_at.strftime("%H:%M %Y/%m/%d") %></span>
  <% end %>
</li>
