<!-- Main content area -->
<main class="container">
    <div class="row">

        <!-- Sidebar -->
        <aside class="col-md-4">
            <div class="sidebar-box">
                <h4>Categories</h4>
                <%= form_tag destinations_path, :method => 'get', :id => "destinations_filter", remote: true, :dataType => "script" do %>
                <div class="list-group list-group-root">
                    <a class="list-group-item" href="index.html">Home Page</a>
                    <a class="list-group-item" href="examples.html">Place</a>
                    <div class="list-group"> 
                        <% (0..4).step(1) do |i|%>
                        <a class="list-group-item img-check active"> <strong> <%=i+1%> star</strong>
                        <%= check_box_tag("rates[]", i+1, checked = true, class: 'hidden checkbox') %>
                        </a>
                        <%end%>
                        
                        <a class="list-group-item" href="one-column.html">Place hot</a>
                    </div>
                    <a class="list-group-item" href="three-column.html">Place suggestions</a>
                </div>
                <%end%>
            </div>

            <div class="sidebar-box sidebar-box-bg">
                <h4>About us</h4>
                <p>Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu
                    pretium luctus. <a href="#" class="readmore">Read More &raquo;</a></p>
            </div>

            <div class="sidebar-box">
                <h4>Search site</h4>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <div class="sidebar-box">
                <h4>Helpful Links</h4>
                <ul>
                    <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">Premium HTML web
                            templates from $10</a></li>
                    <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Cheap web hosting from
                            Dreamhost</a></li>
                    <li><a href="http://tuxthemes.com" title="Tux Themes">Premium WordPress themes</a></li>
                </ul>
            </div>
        </aside>

        <!-- Main content -->
        <div class="col-md-8">

            <div id = "destinations">
                <%= render 'shared/list_destination', :destinations => @destinations%>
                # list index
            </div>
        </div>



        <!-- Bootcamp JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</main>
<style>

</style>
<script>

$(document).ready(function(e){
    $(".img-check").click(function(){
        var checkbox = $(this).find(".checkbox")[0];
        var check = checkbox.checked
        if (check == false){
            $(this).toggleClass("active");
            $(checkbox).prop('checked',true);
            console.log(checkbox.checked);      
            $.ajax({
                url: '/destinations',
                type: "GET",
                dataType: "script",
                data:  $("#destinations_filter").serialize()
            })     
        }
        else{
            console.log(checkbox.checked); 
            $(this).removeClass("active");
            $(checkbox).prop('checked',false);
            console.log(checkbox.checked); 
            $.ajax({
                url: $("#destinations_filter").attr("action"),
                type: "GET",
                dataType: "script",
                data:  $("#destinations_filter").serialize()
            })   

        }
	});
});


</script>