<!-- Jumbtron / Slider -->
<div class="container">
<div class="jumbotron-wrap jumbotron-wrap-image mb-0">
    <div class="container">
        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('../assets/baner.gif');">
                    <div class="jumbotron">
                        <h1 class="text-center">Where are you going? </h1>
                        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('../assets/da_nag.jpg');  background-size: auto;">
                    <div class="jumbotron" >
                        <h1 class="text-center">Where are you going?</h1>
                        <p class="lead text-center">Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <p class="lead text-center">
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</div>