<div class="star-rating" display="inline">
    <span class="fa fa-star-o" data-rating="1"></span>
    <span class="fa fa-star-o" data-rating="2"></span>
    <span class="fa fa-star-o" data-rating="3"></span>
    <span class="fa fa-star-o" data-rating="4"></span>
    <span class="fa fa-star-o" data-rating="5"></span>
    <input type="hidden" class="rating-value" value= <%= locals[:rating] %> >
    <strong class = "type">
    <%= locals[:rating] %></strong>
</div> 

