

        <!-- Main content area -->
        <main class="container">
            <div class="row">
                             
                <!-- Sidebar -->
                <aside class="col-md-4">
                    <div class="sidebar-box">
                        <h4>Categories</h4>
                        <div class="list-group list-group-root">
                            <a class="list-group-item" href="index.html">Home Page</a>
                            <a class="list-group-item" href="examples.html">Place</a>
                            <div class="list-group">
                                <a class="list-group-item" href="three-column.html">new Place </a>
                                <a class="list-group-item" href="one-column.html">Place hot</a>
                                <a class="list-group-item active" href="text.html">Place suitable</a>	
                            </div>
                            <a class="list-group-item" href="three-column.html">Place suggestions</a>
                        </div>
                    </div>

                    <div class="sidebar-box sidebar-box-bg">
                        <h4>About us</h4>
                        <p>Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu pretium luctus. <a href="#" class="readmore">Read More &raquo;</a></p>    
                    </div>

                    <div class="sidebar-box">
                        <h4>Search site</h4>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text"  placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="sidebar-box">
                        <h4>Helpful Links</h4>
                        <ul>
                            <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">Premium HTML web templates from $10</a></li>
                            <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Cheap web hosting from Dreamhost</a></li>
                            <li><a href="http://tuxthemes.com" title="Tux Themes">Premium WordPress themes</a></li>
                        </ul>
                    </div>
                </aside> 
                
                <!-- Main content -->
                <div class="col-md-8">
                    
                    <div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div class="item ">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://advertisingvietnam.com/wp-content/uploads/2018/04/Du-l%E1%BB%8Bch-Vi%E1%BB%87t-Nam.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        nha trang</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/review/index">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  ">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://advertisingvietnam.com/wp-content/uploads/2018/04/Du-l%E1%BB%8Bch-Vi%E1%BB%87t-Nam.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        phu quoc</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/review/index">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  ">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://advertisingvietnam.com/wp-content/uploads/2018/04/Du-l%E1%BB%8Bch-Vi%E1%BB%87t-Nam.jpg" alt="rss feed" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        hai thinh</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/review/index">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item ">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://advertisingvietnam.com/wp-content/uploads/2018/04/Du-l%E1%BB%8Bch-Vi%E1%BB%87t-Nam.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        sam son</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                               </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/review/index">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                    # list index
                </div>             
            </div> 



        <!-- Bootcamp JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</main>