
<% if @results.count == 0 %>
<p>NO PLACE</p>
<% else %>
<div class="card-container" style="padding: 0rem 0 !important;">
            <div class="container">
                <div class="padded-box row">
                <% @results.each do |destination|%>
                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="<%= destination.picture_path %>" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text"><%= destination.speciality%></p>
                            <a href="/destinations/<%=destination.id%>" class="btn btn-primary" style='white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 130px;' > <%= destination.name%></a>
                          </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <% end %>